{% extends 'base.html' %}


{% block content %}
    <div class="container">

        <!-- Main component for a primary marketing message or call to action -->
        <div class="jumbotron">
            <h1>Navbar example</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ea possunt paria non esse. Quae cum dixisset paulumque institisset, Quid est? Itaque hic ipse iam pridem est reiectus; Videmus igitur ut conquiescere ne infantes quidem possint. Solum praeterea formosum, solum liberum, solum civem, stultost; </p>

            <p>Perge porro; Duo Reges: constructio interrete. Transfer idem ad modestiam vel temperantiam, quae est moderatio cupiditatum rationi oboediens. Quae cum ita sint, effectum est nihil esse malum, quod turpe non sit. Hoc dictum in una re latissime patet, ut in omnibus factis re, non teste moveamur. Similiter sensus, cum accessit ad naturam, tuetur illam quidem, sed etiam se tuetur; Sed ne, dum huic obsequor, vobis molestus sim. Octavio fuit, cum illam severitatem in eo filio adhibuit, quem in adoptionem D. </p>

            <p>Laboro autem non sine causa; <b>Quae similitudo in genere etiam humano apparet.</b> <b>Ego vero isti, inquam, permitto.</b> <b>Sed ad illum redeo.</b> </p>

            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ea possunt paria non esse. Quae cum dixisset paulumque institisset, Quid est? Itaque hic ipse iam pridem est reiectus; Videmus igitur ut conquiescere ne infantes quidem possint. Solum praeterea formosum, solum liberum, solum civem, stultost; </p>

            <p>
                <a class="btn btn-lg btn-primary" href="../../components/#navbar" role="button">View navbar docs &raquo;</a>
            </p>
        </div>

    </div>
    <!-- /container -->
    {% endblock %}